<div class="animals">
  <div class="animalBlock">Козел
    <button href="editAnimal">
      Редактировать
    </button>
        <button href="deleteAnimal">
      Удалить
    </button>
  </div>
  <div class="animalBlock">Курица</div>
      <button href="editAnimal">
      Редактировать
    </button>
        <button href="deleteAnimal">
      Удалить
    </button>
  <div class="animalBlock">Олень</div>
      <button href="editAnimal">
      Редактировать
    </button>
        <button href="deleteAnimal">
      Удалить
    </button>
  <div class="animalBlock">Енот</div>
      <button href="editAnimal">
      Редактировать
    </button>
        <button href="deleteAnimal">
      Удалить
    </button>
  <div class="animalBlock">Кобыла</div>
      <button href="editAnimal">
      Редактировать
    </button>
        <button href="deleteAnimal">
      Удалить
    </button>
</div>
