<div>
  <h1>Тарифы зоопарка</h1>
  <h3>Будни</h3>
    <div>Взрослые: {{adults_weekdays}} рубликов</div>
    <div>Дети: {{children_weekdays}} рубликов</div>
  <h3>Выходные</h3>
    <div>Взрослые: {{adults_weekend}} рубликов</div>
    <div>Дети: {{children_weekend}} рубликов</div>
</div>

